<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <add key="Mode" value="FilePath"/>
      <add key="FilePath" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\SampleData"/>
      <add key="tFilePath" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\SampleData\Taxes.txt"/>
      <add key="pFilePath" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\SampleData\Products.txt"/>
  </appSettings>
</configuration>