<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="Test"/>
    <add key="Test" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\TestData"/>
    <add key="tFilePath" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\SampleData\Taxes.txt"/>
    <add key="pFilePath" value="C:\Users\Chris\Documents\chris.taggart.self.work\Labs\FlooringMasteryComplete\SampleData\Products.txt"/>
  </appSettings>
</configuration>